<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="./style/coffee.css">
</head>

<body>
    <div id="app">
        <h1>JuJu Coffe Shop</h1>
        <label class="editArea">
            <input type="checkbox" v-model="editing">
            <span>Editing</span>
        </label>
        <span>
            Favorite Coffee:
            <select v-model="favoriteType" class="favoriteArea">
                <option v-for="coffee in coffees" :value="coffee.name">{{coffee.name}}</option>
            </select>
        </span>

        <div class="coffeeType" v-for="(coffee, cid) in coffees"
            :class="{favorite: coffee.name == favoriteType, showMode: !editing}">
            <div class="num">0{{cid+1}}</div>
            <div class="cupContainer">
                <div class="cup" :class="coffee.type">
                    <div class="ingradients">
                        <div class="coffee" :style="{height: coffee.coffee + '%'}"></div>
                        <div class="water" :style="{height: coffee.water + '%'}"></div>
                        <div class="milk" :style="{height: coffee.milk + '%'}"></div>
                        <div class="foam" :style="{height: coffee.foam + '%'}"></div>
                        <div class="syrup" :style="{height: coffee.syrup + '%'}"></div>
                    </div>
                </div>
            </div>
            <div class="control">
                <h2>{{coffee.name}}</h2>
                <select v-model="coffee.type">
                    <option v-for="cupType in cupTypes" :value="cupType">
                        {{cupType}}
                    </option>
                </select>
                <div class="controlMaterial" v-for="material in ['coffee', 'water', 'milk', 'foam', 'syrup']">
                    <label>{{material}}</label>
                    <input type="range" v-model="coffee[material]" min="0" max="100">
                </div>
            </div>
        </div>

    </div>
</body>

<script src="./coffee.js"></script>

</html>